<span class="user-status">
  {{#if auth.signedIn}}
    <span class="signed-in">
      Signed In as {{auth.user.email}}
    </span>
    {{render sign_out}}
  {{else}}
    <span class="signed-out">
      {{render sign_in}}
    </span>
  {{/if}}
</span>