<span class="logout">
  <a href="#" {{action "logout"}}>Logout</a>
</span>

{{#if auth.user.providers.fatsecret}}
  
{{else}}
  {{#if App.useFatSecret}}
    <a {{bindAttr href="fatsecretUrl"}}>Connect FatSecret</a>
  {{/if}}
{{/if}}