<form class="form-inline">
  {{#if showLoginForm}}
    {{view Em.TextField valueBinding="email" placeholder="Email"}}
    {{view Em.TextField valueBinding="password" placeholder="Password"}}
    <button {{action "login"}}>Login</button>
  {{/if}}

  <a {{bindAttr href="dropboxUrl"}}>Login with Dropbox</a>
</form>